/* word count css */
.wrapper{
    margin: auto;
    width:500px;
    border: 1px solid black;
    padding: 30px;
    text-align: center; 
}

input{
    border-radius: 10px;
    height: 30px;
}

input{
    text-align: center;
}
h3{
    height: 20px;
}